wscalc1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="wscalc1" targetNamespace="http://localhost:8000/wscalc1" xmlns="http://localhost:8000/wscalc1" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <wsdl:message name="sumRequest">
        <wsdl:part name="a" type="xs:string"/>
        <wsdl:part name="b" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="multiplyRequest">
        <wsdl:part name="a" type="xs:string"/>
        <wsdl:part name="b" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="multiplyResponse">
        <wsdl:part name="mulres" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="sumResponse">
        <wsdl:part name="sumres" type="xs:string"/>
    </wsdl:message>
    <wsdl:portType name="calcP">
        <wsdl:operation name="sum">
            <wsdl:input message="sumRequest"/>
            <wsdl:output message="sumResponse"/>
        </wsdl:operation>
        <wsdl:operation name="multiply">
            <wsdl:input message="multiplyRequest"/>
            <wsdl:output message="multiplyResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="calcB" type="calcP">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sum">
            <soap:operation soapAction="sum"/>
            <wsdl:input>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="multiply">
            <soap:operation soapAction="multiply"/>
            <wsdl:input>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ws">
        <wsdl:port binding="calcB" name="calc">
            <soap:address location="http://localhost:8001/wscalc1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>